body {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.left {
    width: 10%;
}
.middle {
    width: auto;
}
.right {
    width: 10%;
}

/* controls mobile */

#Mobil {
    display: block;
    position: absolute;
    right: 15vw;
    bottom: 42vh;
    color: white;
    background-color: slategray;
    border-radius: 10%;
    font-size: 1.1vw;
}

.Controller {
    display: none;
    position: absolute;
    margin-top: 10vh;
    right: 10%;
    height: auto;
    width: auto;
    padding: 15px;
    background-color: rgba(88, 86, 86, 0.637);
    border-radius: 20%;
}

.btn:hover{
    background-color: rgba(134, 133, 133, 0.637);
}

.btn {
    width: auto;
    color: white;
    font-size: 80%;
    background-color: rgba(88, 86, 86, 0.637);
}

.btup {
    margin-left: 30%;
    margin-right: 30%;
}

.btdown {
    margin-left: 20%;
    margin-right: 30%;
}

/* game */

#Game-board {
    background-image: url(https://lh3.googleusercontent.com/lHbYH5ulXPuMYOMenH-3U0kbTVX7NjNFEIkC0IY-DlpvcokNAgJUy7uBM54eYVJ4cJxU3MvnB0NHujwX7OUUtHkKJY5gSr_puz738zXkBElmSMR2aBdk7B_YaaEoMKFpJOCRD4EZrsRGEwPrirMBGg-XE4Kgbj4XLU5BaNR1f9a92Dw8qFUp_PJv4fzhjROMyIaAP4cZ1k2E9HagtI1qgkAJ9Q4UgtvRCPzZ3PGUs8JayX1_COXAVWuEt2R_Sgmx4spcH709SXj2IUzR47pv1v9qJ-dA0ciQdDd3pXHZD313Wggan0cQEzMcOKbKU43WpmFZs0R_wM4vQGATcZ-ArgraUtc_CV9AeE-zEqwW91v4JkgaBpuv_zS6R8H9ank0DZ0c9V30UFqa6EL7cwR3p_AymP5kK1fHmgjTrgw370eV_dKDrBiOYhWLMx-0h9M03AKKTQxiXXHf-AA-N7MxLGF1rXLkPR528eMn-yUuP8-DhiyznxQ6msi4yb9xDZ8VCreTQ6aiHQYaaTnT6XWd0vljS0G0f2Nx4Esl3MAVEKY3Hb0dVtaDoRO1XfLCIHy38M003F9rLEg7dtQS-fabkpWjjKE8Lr09URVg5_Nh-_CASHL0gIDAlLh_lT5ZCoUvdt-sXVqqFZmf7JqA1nt8Q0LD0nmBX_MzkF0N6apbL7JOR29bn60_Zn2Lu2o-L2bOoB1SwULCDpvas2Og-1yHTcWWP3ed6572jhCrx-kJ5KZxf_A3uU3yDeUvF4xswFl3smNx-lBs4ZTvjGaS9HGrAMKIyafS0VG2QABc5rVcEHP7fL3vjup1NM2sIvZy_zQKM77BqgfjWB7dUxdf6pfPsxJqNiTCtTTcMvuSPVPBk7Fmgyboe1EyX72PckfYrEjvLimnF7JJZLw7e-p9XtI8kDnOHXaePpGrPeSuNQ=s944-no?authuser=0);
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
}

.Snake {
    background-image: url(https://lh3.googleusercontent.com/G4VcY74FT_OrhJqRUfj_xhtLsrkWgFyUOE7vx_IKcjmr38mEG5bNNnjPUHB2bZPab1NtMfy1rtFneWObZktyFWbkEnxZ3v2PgAuhB5dgfeILUl5J9blT1iFlqLgRL8vfg9Cun71AqS70xQTs4gTivNb56FZjjhPCXdG2hWtXmEvQOjv9czg-7_vVuMOBg9nihMxQtDGGYZ8l8tKX3Pln4ZS7_mJ-z5xNPPGz7h_GLePbt9c2vlQd2OE9xMtbpDPeGFO9pKt36-RLprxPQHiiBsVkVVu14fjN2qA9VDPSQOpTT2QhAnNJGQhtappQdCPyjg80TYTtUpIHgeKKxxM2AKMdGT9SlSXD7XxEmIAFvAylcKLXdTcR2fGoxmVmVrjbeXpKcBu6xnep9X7V_GHfPza8IycMdkGuByAUymDikBJ4C_RWie9Kqr39RZXpvUuf6ct6htAJ5L9tNxYaAVEYoI9i8NePOZtBJ6uxOFMSvfRV_GLBcUox5DiS_LKoz3pm0fUTCyNh7YnZhV0UWsVzhq1-gP5Mni-_fHj3DyJmSO0jZ25-yiFb4bY1jkCT_BAQw7F-T83GFu54V2TBk3Znvy6YkF4YvukCiHHKfh92wGmuKGnU_F9QxuhiwenkLimqmp_X-0owUUOd20BswNy8bQFqP2qggALhjybqdMovEYhYRi1a_7tFlVC301ZwsOzrQYwH8aO6KbWc2ZPWRrm9YlJ9-FTACRtYVPi3Dp2m3unuwSkX6nAQrtWd-93fKo7N1J6hnxNZyjDhVmtenJXV4GhxYXZvIZ0gY71-G87-2oEO3SHKGwqTfPM8YT8-Zcuv4FTbsu_MZWP55gRydQ5XWYjLWIceKY_fFYlpbfaB0ah_fFg9q1gZxe6hfAH11VCt-Yhpk9ZGQZjHiJUaahgi_eXmXG7C7IfT3v48Kg=s40-no?authuser=0);
    background-size: 100%;
}

.Food1 {
    background-image: url(https://lh3.googleusercontent.com/CUa9w3EktUiId3P_O-t4-24Mt6tPOkkPnCmOQaabDwcyScRodeI5r7VUmtHw3-77YAhzKId8rP3-WYfUtrBIKy16-rUjf-rwMji3m1KZDp7X4p_213V7-EPqzRHs74rtLjeszgX-3Ni87NbYVdij4NxHSGqFiZD4fJKdnKQLeFDU_WzK51hcRsOC8uZHrARGUc7gFfFLHjr9K3kFpgppGKgXduWYkx4CK309Maf9w2WXA2MkGN-oQuOG9DMtsarX3V0a_QYdlU4yDWjqEC287f0gIrIqdp2W1pJUE21VUxXyUUR-_bJa6AMJHw8GMgIY98gfWECnnh8D5TNyiVQzzGKhfRJ3WFqV1thrMZQBwEgvW_fVxPsLUbfWlwIheeizXvvQ0ui2_bhP1g92cbnmmJF81092X1epAlRun70qsGfrN7zPoS0yjn5sC5WT2M5YS7xvsfQFH86xRKx1xspbDxVvgFIdmvgQI4LPBsMl9eeCGJqo-clRyBVCH0Eyn8l5VJQQdaFWeulMz9BHwLkiX9elaLCtoLou-3YcMb9yLrNaZJgSmtXOoxz9r0fUESLg9oEG7peyaWFyHdY1T-VP874l1SZ6hG8_dDO_7v0HAJ0JVfX0qJKc7ItUsHLfopNdHpcWwV9EgP3deBN4u6ExPK3oSsg6QvRlgmNcTfML1pYcBXDIw7YRW9-KDYoStc87EEjsYe5W4Ut90D_swP6pI-lllSQVp04CNwDJmw2FbIRhjfZf02kqU5AoMpAUVDansHawOxYq3S5jZQbz4E0WUatP58UvCV6FrFkjapVO3AtlfVGWsRzS0bBgCHv-_Rby6SUXxqylp2x7H2HRR6OcQz648deLCvYeUOw-nsQPe9n2FLl_ogd04xjNL0pXZYBTh9ScLb6ny8EOjbpEwanSyPo9E7kbjahtSFG-Ig=s40-no?authuser=0);
    background-size: 100%;
}

.Food2 {
    background-image: url(https://lh3.googleusercontent.com/SXPE9PcrPi6DV7RauNE3rPk3EzZsPtq3VClEvqm98r0QNxeH0gcqlACrsu34SZ0BnY4yk4xUDlUCNhIjRp_cfQ-Q09wipQDN8_4ypJQr_0W31WOFSipfND-xYznZb7Qv-9gWWxnxD9YFsj8-A6p3VVf8d351blcaVX3S5FflItzhJCwqSZsE5UbDOWo-trLHu5oCZUoPI9qQBrpq451lVl8iH_LUtG20RmU947ynofaqr4qreOu4CREZn6vbMmHxj0aNLSfidWE1DdoCynW2m5TOVoj_MWIqBr26pWZhCAo5079L-aaIZVzXwzYKWxvZsTanZtSfYgP5kdUVz0UjxmvBISwhaU5E7HbvQoVCcPW_lZ5KAJ2iVn1ng1FoIsLLWRjGNqeAxF8IczUj2p74XcWhDTaRtKQNnA1LlLqKX18uhk3k4CPf1e226yaSLVSmJ0WjzVsgSdh82xlvbjGZNihUImV5vxihVq3se9qv4mchA8bqsDXXjFNprUDREI4ftVQl3Yf1h6TgkQ4co13d0Ro5zbNq_0T3Lracisk3JOIt8QtHcZ8R5mNLx1Dt4x7gQBgnFwdNQ4bcCOcN-KYdRUNcyIGh26EdEu2o5uM0_TjoinH1xKt7XWSoheyTIJ19OwwhwC11bcNGMtXiQUchUBtNNQFqMcxoYhH9JanF20cSzE4gDzGXK7DIg6jBOmxPda7v7V8LYaUB7q5J0j7O64CwTr6iVkgGgCxIfsc-O2DqyEgbFv3EB3r8J-ElYg3pAX-MK1crLV19kPmZYMgBE8vutmhPo9Ol_ZRLNXyscjynPdNAEJQvLRWeZ9gpQuBjZuWEloKk5AzB_GwhYZ65DMOUchhVQ_4DvHewMlpulQLMVIhoX8MVygwdMFq72l2I_ENceBGmYt2q0LlYrnU4UggjKhxHIGHRiJCwaQ=s40-no?authuser=0);
    background-size: 100%;
}

.Food3 {
    background-image: url(https://lh3.googleusercontent.com/WrPHy3NqLiBB_ZfLp7_a9xb5MEBeOWhIah_oJKOp4iFpTwWipzsGbVQ_0iglMeIGlhLKy2NAk1XTo_Y8cz4NIeNNYzH6PsrXS-a06FrXqrIera0QHfQOdReaxqcPwt34AAWBeaziYJds-5tSvYXaJ434vffmFH9An0PAv3WF4-Qyq_3Bj6GOp_svit7VPdjayWAczeOlVKheQc2pNPQyvsCeboFeKNIzI8bIuS8mKu-EhbOyiQjfd-vubELLukDhD13FISPMTqoWeE1KJf7v8yDNNwFJRnH7uO9jr-xeCcVpSNIzt7jBqjQtVV7aNH8iqdiSbguiSSW6PAw_G0NGG6xvqRf1mRjpME_vKaFum0RTQcfv4btZxlTsoLWVbhVktETwfcUn8ppdvOZYuZgFSCEPwBYODiBnZmDpblA7wImwptdN_VXbU1eQ0YfYcS6wzdaVPwdfXjg4rNkCf7TND8dqjOrArrTk3Jb-bQCK4RSGPOD185JIoVa28O0OX3YTpu6K7rdOQGAKfbA5pd9lQyp2J6VjgXtMzKvm-it1KL2y-9lB8qNCoCLflDm352iMn4ZYrjuTlM3Gx6-J4SeMC-SvdJFbP-SITghLX1xLv95xv4e94Mt05WGfuNcQXvhVtA3kOQKN5xi3Zk3tM9oSyeNXOpupbcj68eEzqUaP5Aek5apV5vWDMbWWCkRWg5kzy947swLQLE_cuUzqPs0RpGlTWacmYUMg7L2GmoI5wl9Fv3N9DixQ9KwMHHkPZeOChFD_Fpd-moPQZNf5CQ6kEUgGgrrncUc8OfiIr2_Ar4LpGcA2kaEuZYP4KBmhu-20ELqvJprHQ-SKeKMFrHAMFR3komqeov3AHxOWL3cGtJAziNKOsb1WaxQqdVLFWRu_Xkemt-MwqEo2ZU7Ao4NVheWqmjMHXhYHccgDuA=s40-no?authuser=0);
    background-size: 100%;
}

.Food4 {
    background-image: url(https://lh3.googleusercontent.com/i3tv7Mg5WtcgFTXbO61mmFDUx81H1YNKwZxz7WXBwFm9SD0aPIq0URrfEUjK5RetAVnMpIe_iyFrsrPjICm9O1LRwxN4jRllupuVv6tw22OrxIxMmlhImO1OFTkzaLH2A8V7JCDADH8ffVWJgumWoQduR7JMUhhpu-Krp8IPlPxW2_QcuLRLl6eU4qZMnFbluYZ6i6Gv-J7bAgJrMxRXbyLqUnTuCLaRlC8rHjkqlyTIj3XJx8sAOIr_Hw3JJybbBkAdWkf3-ewQOQNtlz7rELYXl3bFQ4vLDJyQU76Iabw5xIo-VDTwjVSFaAgjjXTrDHSvAtJB_dgddlZll2QLxWbb-YIFaWbIlfq7Zgj3fjK-k483pAzDUwMtIOSjk3Ot4UcAzPJSnSESD0hqeVawQe-GODKBLWt8bComKMOnWEvViXh-iwYjxdzTPYwpL-ojjfLXYfkmpWPI7gBxg7VchVZtnNQrBS-WTcYnTadb2wORTLllG4Cd6guI2NT_9QZBmDs0gmk9mmyeFRNinwrajwxc_Tn8Be_U6rAK_ZPlHxR87Olv-nW7FLR7UTlpmrFp-cglCn23wfe-VvISCFd9nA9br8tBKzIsL4i4IL7ToI5vYyD5zQ-K9aQpisgm_XccxVPFTcV1ZlguOZxcYusu70L3fOeows8duj7Xd9IrFf6BVkL7s9qe5YQHQlWN-bi1hvpc1b6hx8ppkSLS42qmSXcbl2OWcClMmr5oCtet17_AoKulWPApZ1Dn-lbT-d59H4gnIBVCvFbLhxyiSAZ66yG33nhOM6aVBSxpHQIB9UStjXiGNBdUnDat-4l0E2ND227rIMh054TWA5_N-_HaZDO3zZPSptMpsLdw9nqIEvdKbnVWfJpVoISD9LcYAXznUk9RB7HbgGq6QH1XOidIo8jU27cY0CGdkKQrxQ=s40-no?authuser=0);
    background-size: 100%;
}



